.action {
    margin-top: -120px;
    padding-bottom: 50px;
}
.action-box {
    border-radius: 200px;
    background: #608BFF;
    max-width: 915px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 180px;
    text-align: center;
}
.action-box__title {
    color: #FFF;
    font-family: Sora;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 48px;
}
.action-btn {
    border-radius: 32px;
    background: #FFF;
    padding: 11px 24px;
    display: inline-block;
    color: #000;
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
	cursor: pointer;
    transition: 0.4s;
    &:hover{
        transition: 0.4s;
        background: #FF5000;
        color: #fff;
    }
}