.footer {
    padding-top: 50px;
    padding-bottom: 100px;
}
.footer-wrapper {
    display: flex;
    @media(max-width:768px){
        flex-wrap: wrap;
     }
}
.footer-left {
    margin-right: 130px;
    @media(max-width:992px){
       margin-right: 60px;
    }
    @media(max-width:768px){
       margin-bottom: 35px;
    }
}

.footer-socials {
    margin-top: 16px;
    display: flex;
    align-items: center;
    a:not(:last-child){
        margin-right: 16px;
    }
}
.footer-socials__icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-color: #161032;
    border-radius: 50%;
    transition: all 0.3s;
}
.footer-menu__wrapper {
    display: flex;
    gap: 131px;
    @media(max-width:1200px){
        gap: 90px;
    }
    @media(max-width:992px){
        gap: 60px;
    }
    @media(max-width:768px){
        flex-wrap: wrap;
    }
}
.footer-menu__title {
    color: #000;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-menu__item {
    a{
        color: #000;
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        opacity: 0.6;
        transition: 0.4s;
        &:hover{
            color: #FF5000;
            transition: 0.4s;
            opacity: 1;
        }
    } 
}
.footer-menu__item:not(:last-child){
    margin-bottom: 12px;
}