.hero{
    position: relative;
}
.decor{
    position: absolute;
    z-index: -1;
}
.main-decor--yellow{
    top: 0;
    left: 0;
}
.main-decor--blue{
    top: 0;
    right: 0;
}
.main-decor__book--left{
    top: 28px;
    left: 0;
}
.main-decor__book--right{
    top: 115px;
    right: 0;
}

.main {
    margin-top: 112px;
    margin-bottom: 88px;
}

.main-container{
    max-width: 1230px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.main-wrapper{
    display: flex;
    @media(max-width:992px){
        flex-wrap: wrap;
      }
}
.main-content {
    max-width: 490px;
    width: 100%;
    margin-right: 60px;
    @media(max-width:1200px){
        margin-right: 0px;
      }
}
.main-content__title {
    max-width: 464px;
    width: 100%;
    margin-bottom: 25px;
    span{
        color: #FF5000;
    }
}
.main-title {
    color: #000;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; 
    @media(max-width:768px){
        font-size: 42px;
        line-height: 58px;
    }
}
.main-content__text {
    margin-bottom: 48px;
    opacity: 0.6;
}
.main-content__btns {
    display: flex;
    align-items: center;
}
.main-btn {
    margin-right: 24px;
    padding: 16px 24px;
}
.multi-btn {
    background: #FF5000;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    flex-shrink: 0;
    transition: 0.4s;
    &:hover{
        background: #608BFF;
        transition: 0.4s;
    }
}
.main-progress {
    margin-top: 72px;
    margin-bottom: 87px;
    display: flex;
    align-items: center;
}
.main-progress__box--first {
    margin-right: 64px;
    @media(max-width:768px){
        margin-right: 30px;
    }
}
.main-progress__box-title {
    margin-bottom: 16px;
    @media(max-width:768px){
        margin-bottom: 10px;
    }
}
.main-progress__box-subtitle {
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    @media(max-width:768px){
        font-size: 19px;
        line-height: 25px;
      }
}
.main-image {
  @media(max-width:1200px){
    img{
        max-width: 460px;
        width: 100%;
    }
  }
}

.main-companies {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 100px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05);
    @media(max-width:1200px){
        gap: 45px;
    }
    @media(max-width:992px){
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 50px;
        gap: 35px;
    }
}
@media(max-width:992px){
    .main-decor__book{
        display: none;
    }
}
