.process {
    padding-top: 70px;
    padding-bottom: 50px;
    position: relative;

    .decor {
        right: 0;
        top: 0;
        display: none;
    }
}
.process-wrapper{
    display: flex;
    @media(max-width:992px){
        flex-wrap: wrap-reverse;
    }
}
.process-content{
    max-width: 519px;
    width: 100%;
    margin-right: 125px;
    @media(max-width:1200px){
        max-width: 429px;
        margin-right: 45px;
    }
    @media(max-width:992px){
        max-width: 100%;
        margin-right: 0px;
    }
}
.video-wrapper{
    @media(max-width:992px){
        margin-bottom: 45px;
    }
}
.process-content__title{
    margin-bottom: 16px;
}
.process-content__text{
    margin-bottom: 48px;
}
.video-lazyloaded{
    position: relative;
    overflow: hidden;
    width: 534px;
    height: 480px;
    border-radius: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media(max-width:580px){
        width: 415px;
        height: 415px;
    }
    @media(max-width:460px){
        width: 320px;
        height: 320px;
    }
}
.yt-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.responsive-iframe {
    width: 100%;
    height: 100%;
    display: none;
}
