.students {
    background: #FFF8E1;
    padding-top: 56px;
    padding-bottom: 220px;
}
.students-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    @media(max-width:768px){
        flex-wrap: wrap;
        justify-content: center;
    }
}
.students-title{
    @media(max-width:768px){
        margin-bottom: 35px;
    }
}
.students-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    
}
.students-column {
    flex: 33.333%;
    max-width: 33.333%;
    padding-left: 12px;
    padding-right: 12px;
    @media(max-width:992px){
        flex: 50%;
        max-width: 50%;
    }
    @media(max-width:768px){
        flex: 100%;
        max-width: 100%;
    }
}
.students-column:not(:last-child){
    @media(max-width:992px){
        margin-bottom: 35px;
    }
}
.students-item {
    border-radius: 16px;
    background: #FFF;
    padding: 33px;
    @media(max-width:1200px){
        padding: 23px;
    }
}
.students-item__person {
    align-items: center;
    display: flex;
    img{
        margin-right: 12px;
    }
    h3{
        color: #000;
        font-family: Sora;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; 
    }
    p{
        color: #000;
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}
.rating {
    margin-top: 8px;
    display: flex;
    gap: 3px;
}

.students-item__center {
    padding-top: 40px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    @media(max-width:1200px){
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.line {
    width: 195px;
    height: 1px;
    background: rgba(0, 0, 0, 0.11);
}
